/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700&display=swap');

/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    background-image: linear-gradient(to bottom right, #204051, #3B6978);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* Arrow Number Hidden */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Sidebar Header */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #204051;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo-content .logo {
    color: #E4E3E3;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ease;
}

.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo i {
    font-size: 30px;
    margin-left: 5px;
}

.logo-content .logo .logo-name {
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
}

.sidebar #btn {
    position: absolute;
    color: #E4E3E3;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    margin: 0;
    left: 90%;
}

/* Sidebar Menu */
.sidebar ul {
    margin-top: 20px;
    padding-left: 0;
}

.sidebar ul hr {
    margin-left: 10px;
    align-items: center;
    border-top: 3px solid #E4E3E3;
    border-radius: 5px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}


.sidebar ul li a {
    color: #E4E3E3;
    display: flex;
    margin: 3px 0;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    font-size: 20px;
    white-space: nowrap;
}

.sidebar ul li .bayar {
    background: #3B6978;
}

.sidebar ul li a.router-link-active,
.sidebar ul li a:hover {
    color: #204051;
    background: #E4E3E3;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ease;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

/* Sidebar Footer */
.sidebar .profile-content {
    position: absolute;
    color: #E4E3E3;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #3B6978;
}

.profile-content .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-details i {
    font-size: 40px;
    object-fit: cover;
}

.profile .profile-details .name-job {
    margin-left: 10px;
}

.profile .profile-details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile-details .job {
    font-size: 12px;
}

.profile a {
    text-decoration: none;
    color: #E4E3E3;
}

.profile #log-out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    background: #84A9AC;
}

.sidebar.active .profile #log-out {
    left: 88%;
    background: none;
}

/* Content */
.content {
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 78px);
    left: 78px;
    background: #E4E3E3;
    transition: all 0.5s ease;
    overflow: auto;
}

.content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #204051;
    margin: 25px;
    text-align: center;
}

.content .text {
    color: #3B6978;
    margin: 25px;
}

.content .add-form {
    margin: 25px;
    width: calc(100% - 50px);
    left: 78px;
    color: #204051;
    font-size: 18px;
}

.sidebar.active ~ .content {
    width: calc(100% - 240px);
    left: 240px;
}

/* Quick Access */
.db-qa {
    margin: 25px;
    margin-top: 15px;
    padding: 25px;
    padding-top: 12px;
    border-radius: 5px 5px 0 0;
    background: #204051;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.db-qa h1 {
    font-size: 40px;
    color: #E4E3E3;
    margin: 0;
    margin-bottom: 25px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 78px;
    width: calc(100% - 50px);
    height: 60px;
    background: #84A9AC;
    text-align: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.footer p {
    margin: 18px;
    color: #204051;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #204051;
}

.sidebar.active ~ .footer {
    width: calc(100% - 240px);
    left: 240px;
}

/* Search */
input[name=search] {
    background-image: url('search.svg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    padding: 5px 20px 5px 40px;
    color: #204051;
}

input[name=search]:focus {
    background-color: #f1f1f1;
    color: #204051;
}

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    width: calc(100% - 50px);
    left: 78px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.grid-db .content-table {
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 0.9em;
    width: calc(100% - 50px);
    left: 78px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #204051;
    color: #E4E3E3;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1 px solid #ddd;
    color: #204051;
    font-size: 18px;
    text-align: center;
}

.content-db .content-table tbody td {
    border-bottom: 1 px solid #ddd;
    color: #204051;
    padding: 20px;
    font-size: 15px;
}

.content-db .content-table tbody h4 {
    padding: 0 0 10px 0;
    margin: 0;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 3px solid #204051;
}

/* Grid */
.grid {
    padding: 25px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 7fr 1fr;
    grid-gap: 30px;
    grid-template-areas: "left right";
}

.grid-left {
    grid-area: left;
}

.grid-right {
    grid-area: right;
}

.grid-box {
    padding: 25px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas: "left center right";
}

.box-1 {
    grid-area: left;
}

.box-2 {
    grid-area: center;
}

.box-3 {
    grid-area: right;
}

.grid-db {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right";
}

.content-db-1 {
    grid-area: left;
}

.content-db-2 {
    grid-area: right;
}

.grid-rp {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "left right";
}

.rp-1 {
    grid-area: left;
}

.rp-2 {
    grid-area: right;
}

/* Report */
.report {
    border-left: 5px solid #3B6978;
    height: 100%;
    padding-left: 25px;
}

.report h1,
.report h3,
.report h5 {
    font-size: auto;
    color: #204051;
    text-align: center;
    margin-bottom: 8px;
}

.report  h5 {
    margin-bottom: 0;
}

.report hr {
    border: 2px solid #204051;
    margin-right: 25px;
}

.report .content-table {
    margin-top: 0;
    margin-left: 0;
    width: calc(100% - 25px);
}

/* Box Info */
.box-info {
    border-radius: 5px;
    background: #204051;
    display: flex;
    min-height: 80px;
    padding: 10px;
    color: #E4E3E3;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.box-info .box-icon {
    border-radius: 5px;
    background: #3B6978;
    align-items: center;
    display: flex;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    width: 70px;
}

.box-info .box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
}

.box-info .box-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}

.box-info .box-number {
    display: block;
    margin-top: 0.25rem;
    font-size: 18px;
    font-weight: bold;
}

/* Button */
.button-edit {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #00ff00;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-edit:hover {
    background: #32cd32;
}

.button-add {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #0000FF;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    float: right;
}

.button-add:hover {
    background: #0000D1;
}

.button-del {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #FF0000;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-del:hover {
    background: #D10000;
}

.button-back {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #3B6978;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button-back:hover {
    background: #204051;
}

.button-log {
    height: 40px;
    width: 100px;
    padding: 0;
    background: #3B6978;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    color: #E4E3E3;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;  
}

.button-log:hover {
    background: #204051;
}

.button-kelas {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #0dcaf0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    float: left;
}

.button-kelas:hover {
    background: #0bb5d8;
}

.button-siswa {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #dc3545;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    float: left;
}

.button-siswa:hover {
    background: #d32535;
}

.button-petugas {
    display: inline-flex;
    height: 38px;
    padding: 0;
    background: #ffc107;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    float: left;
}

.button-petugas:hover {
    background: #edb100;
}

.button-text,
.button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #E4E3E3;
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}

/* Login */
.login {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #E4E3E3;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login h1 {
    color: #204051;
    font-weight: bold;
}

.login input[type = "email"],
.login input[type = "password"] {
    display: block;
    margin: auto;
    padding: 5px 20px 5px 40px;
    width: 100%;
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #84A9AC;
    border-radius: 0;
    outline: 0;
    color: #204051;
    transition: all 0.4s ease;
}

.login input[type = "email"] {
    background-image: url('email.svg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

.login input[type = "password"] {
    background-image: url('pw.svg');
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

.login input[type = "email"]:focus,
.login input[type = "password"]:focus {
    width: 100%;
    border: none;
    border-bottom: 2px solid #3B6978;
    outline: 0;
    box-shadow: none;
    color: #204051;
}

.login button {
    margin: 10px 0 5px;
}

.login p {
    margin: 5px 0 0;
    color: #204051;
}

.login p a{
    color: #204051;
    font-weight: bold;
}

/* Error Login Alert */
.erlog {
    width: 100%;
    border-radius: 5px;
    margin: 15px 0 5px;
    background: red;
}

.erlog p {
    margin: 0;
    color: white;
}